<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Cardoso\CustomerProducts\Api\Data\ProductRangeInterface"
                type="Cardoso\CustomerProducts\Model\Data\ProductRange"/>
    <preference for="Cardoso\CustomerProducts\Api\ProductList"
                type="\Cardoso\CustomerProducts\Model\Products\ProductList"/>
</config>
